@font-face {
  font-family: Myfont2;

  src: url(1.ttf);

  font-family: Myfont3;

  src: url(Calibri.ttf);

  font-family: Myfont4;

  src: url(Calibri.ttf);

  font-family: Myfont6;

  src: url(CalibriLight.ttf);
}

.name {
  background-color: lightblue;

  width: 100%;

  font-size: 45px;

  color: white;
}

ul {
  list-style-type: none;

  margin: 0;

  padding: 15px;

  overflow: hidden;
}

li {
  display: inline-block;
  padding: 1px;
}
.box1 {
  line-height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.introduction {
  background-color: white;

  width: 50%;

  border: 1px solid lightgray;

  margin: 20px 41px;
}

.content {
  margin-top: 28px;

  margin-left: 37px;

  font-family: Myfont5;
}

.header {
  background-color: #3796c9;

  height: 59px;

  font-family: sans-serif;

  text-align: left;

  font-size: 32px;

  padding-top: 30px;

  padding-left: 22px;

  color: rgb(233, 236, 238);
}

label {
  margin: 100px;
}

.body {
  margin: 0px;
}

.news {
  margin-top: 8px;

  padding-left: 13px;

  height: 2px;

  margin-bottom: 15px;

  display: block;

  font-size: 15px;

  font-weight: 700;

  font-family: sans-serif;
}


.topnav {

  height: 28px;
  padding-right: 0px;

  background-color: #333;
  font-weight: bolder;
}


.Wel {

  font-weight: 700;

  font-size: 18px;

  line-height: 17px;

  font-family: Myfont6;

  margin-left: 5px;
}

.maincontent {
  text-transform: capitalize;
  margin-top: 20px;

  margin-left: 42px;

  width: 918px;

  font-size: 13px;

  font-weight: 700;

  font-family: Myfont6;
}

.box1 li::before {
  content: "-";

  margin-right: 6px;
}
.nav {
  margin-left: 15px;
  padding: 5px;
  color: white;
  font-size: 12px;
  display: inline-flex;
  gap: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.image {
  float: right;
  justify-content: end;
  margin-right: 20px;
  margin-top: 2px;
}
